body{
    background-image: url('images/mark-kirkpatrick-illustration-mountains-low-poly-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.button {
    display: block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: rgba(202,108,132,255);
    border: none;
    border-radius: 20px 40px 20px 40px;
    box-shadow: 0 5px #999;
    margin-top: 20px;
    max-width: 500px;
    min-width: 500px;
}
.button:hover {background-color: #f9c9b6}

.button:active {
        background-color: rgba(202,108,132,255);
        box-shadow: 0 5px #666666;
        transform: translateY(4px);
    }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : 70%;
    text-align: center;
    margin: auto ;
}