body{
    background-image: url('images/mark-kirkpatrick-illustration-mountains-low-poly-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
