body{
    background-image: url('images/mark-kirkpatrick-illustration-mountains-low-poly-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.button {
    display: block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: rgba(202,108,132,255);
    border: none;
    border-radius: 20px 40px 20px 40px;
    box-shadow: 0 5px #999;
    margin-top: 20px;
    max-width: 500px;
    min-width: 500px;
}
.button:hover {background-color: #f9c9b6}

.button:active {
        background-color: rgba(202,108,132,255);
        box-shadow: 0 5px #666666;
        transform: translateY(4px);
}
.grey{
    background-color: gray;

}
.grey:hover{
    background-color: #b1a8a8;
}
.grey:active{
    background-color: gray;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    width : 70%;
    text-align: center;
    margin: auto ;
}
.inputPinkBorder {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(202,108,132,255);
    border-radius: 4px;
  }
  .whiteGlowing{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 3px 15px #c5c5c5, -2px 1px 30px #fffdfe;
  }
  .containerSecond{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    width : 70%;
    text-align: center;
    margin: 20px auto ;
  }
  .regularPinkButton{
    background-color: rgba(202,108,132,255);
    cursor: pointer;
    box-shadow: 0 5px #999;
    text-align: center;
    font-size: 15px;
  }
  .regularPinkButton:active {
    background-color: rgba(202,108,132,255);
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
  }

  img{
    max-width: 300px;

  }